<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speed Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Speed Chart</h1>
    <canvas id="linechart"></canvas>
    <script>
        var ctx = document.getElementById("linechart").getContext("2d");
        var linechart = new Chart(ctx, {
            type: "line",
            data: {
                labels:{{ labels | safe }},
                datasets: [
                    {
                        label: "speed",
                        data: {{ values | safe }}
                    }
                ],
            }
        })
    </script>
</body>
</html>